/* Style the navigation bar links */

body{
    background-image: url(pictures2.0/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

.navbar a {
    color: white;
    padding: 19px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    width: 377.32px;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Playfair Display', monospace;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
    font-weight: bold;
}
  
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: pink;
    color: black;
  }


    
    @media screen and (max-width: 700px) {
        .row .navbar {   
          flex-direction: row;
        }
      }


      h1 {
        color:black;
        font-size: 40px;
        text-align: center;
        font-family: 'Playfair Display', monospace;
        background-color: pink;
        box-sizing: border-box;
        width: 600px;
        padding: 25px; 
        border: 1px solid black;
        margin: 0;
     }
     
     .heading{
         display: flex;
         justify-content: center;
     
     }

     /* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: pink;
    padding: 20px;
    border: 1px solid black;
    font-family: 'Playfair Display', monospace;
  }
  /* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    font-family: 'Playfair Display', monospace;
  }
  /* image */
.img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border: 1px solid black;
}

h2 {
   font-size: 30px;
   text-decoration-line: underline;
}

p {
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

